In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data\MSA Naming Conventions.csv')

In [25]:
df = df[df["Metropolitan/Micropolitan Statistical Area"] == "Metropolitan Statistical Area"]
df = df[["CBSA Code", "CBSA Title", "FIPS State Code"]]
df = df.drop_duplicates(subset="CBSA Code", keep="first")
df.head(3)

   CBSA Code     CBSA Title  FIPS State Code
2      10180    Abilene, TX               48
5      10380  Aguadilla, PR               72
6      10420      Akron, OH               39