In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'Data\mlpdy24q4.csv', encoding='latin1')

C:\Users\samvi\AppData\Local\Temp\ipykernel_43276\2309519036.py:1: DtypeWarning: Columns (12,19,20,24,27,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'Data\mlpdy24q4.csv', encoding='latin1')

In [4]:
df['lnno'].nunique()

60050

In [5]:
df['mrtg_status'].value_counts(dropna=False)

mrtg_status
100.0    1223769
500.0      31941
200.0       3325
450.0        590
300.0        463
250.0         43
NaN            4
Name: count, dtype: int64

In [11]:
mask = df['mrtg_status'].isin([100])
unique_loan_count = df.loc[mask, 'lnno'].nunique()
print(unique_loan_count)

59969

In [8]:
df['liq_dte'] = pd.to_datetime(df['liq_dte'])
df['dt_mty'] = pd.to_datetime(df['dt_mty'])

# Filter rows where liquidation date is earlier than maturity date
paid_early = df[df['liq_dte'] < df['dt_mty']]

# Count unique loans that ever had this occur
num_loans_paid_early = paid_early['lnno'].nunique()
print(num_loans_paid_early)

25272

In [9]:
df.head()

,lnno,quarter,mrtg_status,amt_upb_endg,liq_upb_amt,dt_fund,amt_upb_pch,dealname,rate_ltv,rate_dcr,...,PreFcl_FCL_ExpInc,REO_Operating_ExpInc,dt_sold,Sales_Price,Selling_ExpInc,credit_loss,liq_dte,id_link_grp,lien_number,flag_defeased
0,418251002,y00q1,100.0,11260166.52,NaN,1999-09-30,11300000.0,NONE,0.79718,1.268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,418251002,y00q2,100.0,11235638.02,NaN,1999-09-30,11300000.0,NONE,0.79718,1.268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,418251002,y00q3,100.0,11210626.85,NaN,1999-09-30,11300000.0,NONE,0.79718,1.268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,418251002,y00q4,100.0,11185123.52,NaN,1999-09-30,11300000.0,NONE,0.79718,1.268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,418251002,y01q1,100.0,11159118.34,NaN,1999-09-30,11300000.0,NONE,0.79718,1.268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['lnno', 'quarter', 'mrtg_status', 'amt_upb_endg', 'liq_upb_amt',
       'dt_fund', 'amt_upb_pch', 'dealname', 'rate_ltv', 'rate_dcr',
       'code_int', 'rate_int', 'cd_fxfltr', 'cnt_amtn_per', 'cnt_blln_term',
       'cnt_io_per', 'cnt_mrtg_term', 'cnt_rsdntl_unit', 'cnt_yld_maint',
       'code_sr', 'dt_io_end', 'dt_mty', 'geographical_region', 'code_st',
       'securitized', 'PreFcl_FCL_ExpInc', 'REO_Operating_ExpInc', 'dt_sold',
       'Sales_Price', 'Selling_ExpInc', 'credit_loss', 'liq_dte',
       'id_link_grp', 'lien_number', 'flag_defeased'],
      dtype='object')

In [21]:
df['securitized'].value_counts()

securitized
YES    735345
NO      26653
No      12420
Name: count, dtype: int64