# FRED Data

In [1]:
import pandas as pd
from pandas_datareader import data as pdr
import datetime

In [6]:
start_date = datetime.datetime(1995, 1, 1)
end_date = datetime.datetime(2024, 12, 31)

# Series codes
fred_series = {
    'GDP': 'GDP',                         # Quarterly
    'Unemployment_Rate': 'UNRATE',       # Monthly
    'CPI': 'CPIAUCSL',                    # Monthly
    'Federal_Funds_Rate': 'FEDFUNDS'     # Monthly
}

# Fetch and resample
df = pd.DataFrame()
for col_name, fred_code in fred_series.items():
    raw = pdr.DataReader(fred_code, 'fred', start_date, end_date)
    df[col_name] = raw.resample('ME').last()  # Updated here

# Clean
df.dropna(how='all', inplace=True)

# Show result
print(df.head(12))

                 GDP  Unemployment_Rate    CPI  Federal_Funds_Rate
DATE
1995-01-31  7522.289                5.6  150.5                5.53
1995-02-28       NaN                5.4  150.9                5.92
1995-03-31       NaN                5.4  151.2                5.98
1995-04-30  7580.997                5.8  151.8                6.05
1995-05-31       NaN                5.6  152.1                6.01
1995-06-30       NaN                5.6  152.4                6.00
1995-07-31  7683.125                5.7  152.6                5.85
1995-08-31       NaN                5.7  152.9                5.74
1995-09-30       NaN                5.6  153.1                5.80
1995-10-31  7772.586                5.5  153.5                5.76
1995-11-30       NaN                5.6  153.7                5.80
1995-12-31       NaN                5.6  153.9                5.60

In [9]:
start_date = datetime.datetime(1995, 1, 1)
end_date = datetime.datetime(2024, 12, 31)

# Define FRED series
fred_series = {
    'Real_GDP_Growth': 'GDPC1',                    # Quarterly
    'Nominal_GDP': 'GDP',                          # Quarterly
    'Unemployment_Rate': 'UNRATE',                 # Monthly
    'CPI': 'CPIAUCSL',                             
    'Real_Disposable_Income': 'DSPIC96',           
    'Nominal_Disposable_Income': 'DSPI',
    'House_Price_Index': 'USSTHPI',                # Use 'CSUSHPINSA' for Case-Shiller alternative
    #'Commercial_Real_Estate_Price_Index': 'CREPI', # May have spotty data
    'S&P_500': 'SP500',                            
    '3M_Treasury_Rate': 'TB3MS',                   
    '5Y_Treasury_Yield': 'GS5',                    
    '10Y_Treasury_Yield': 'GS10',                  
    '10Y_BBB_Corp_Bond_Yield': 'BAA10Y',           
    '30Y_Mortgage_Rate': 'MORTGAGE30US',           
    'Prime_Rate': 'MPRIME',                        
    'USD_Broad_Index': 'DTWEXBGS',                 
    'USD_to_Euro': 'DEXUSEU',                      
    'VIX_Index': 'VIXCLS'                          
}

# Pull and resample all series
df = pd.DataFrame()
for col_name, fred_code in fred_series.items():
    try:
        raw = pdr.DataReader(fred_code, 'fred', start_date, end_date)
        df[col_name] = raw.resample('ME').last()
    except Exception as e:
        print(f"Could not load {col_name} ({fred_code}): {e}")

# Compute Corporate Bond Spread: BAA10Y - GS10
if '10Y_BBB_Corp_Bond_Yield' in df.columns and '10Y_Treasury_Yield' in df.columns:
    df['BBB_Corp_Bond_Spread'] = df['10Y_BBB_Corp_Bond_Yield'] - df['10Y_Treasury_Yield']

# Drop rows with all missing values
df.dropna(how='all', inplace=True)

# Preview result
df.head(12)

,Real_GDP_Growth,Nominal_GDP,Unemployment_Rate,CPI,Real_Disposable_Income,Nominal_Disposable_Income,House_Price_Index,S&P_500,3M_Treasury_Rate,5Y_Treasury_Yield,10Y_Treasury_Yield,10Y_BBB_Corp_Bond_Yield,30Y_Mortgage_Rate,Prime_Rate,USD_Broad_Index,USD_to_Euro,VIX_Index,BBB_Corp_Bond_Spread
DATE,,,,,,,,,,,,,,,,,,
1995-01-31,11319.951,7522.289,5.6,150.5,8086.0,5427.5,183.81,NaN,5.71,7.76,7.78,1.33,9.13,8.50,NaN,NaN,11.96,-6.45
1995-02-28,NaN,NaN,5.4,150.9,8102.0,5447.9,NaN,NaN,5.77,7.37,7.47,1.53,8.73,9.00,NaN,NaN,11.75,-5.94
1995-03-31,NaN,NaN,5.4,151.2,8124.2,5473.0,NaN,NaN,5.73,7.05,7.20,1.49,8.38,9.00,NaN,NaN,13.37,-5.71
1995-04-30,11353.721,7580.997,5.8,151.8,8064.0,5446.7,186.84,NaN,5.65,6.86,7.06,1.51,8.26,9.00,NaN,NaN,11.75,-5.55
1995-05-31,NaN,NaN,5.6,152.1,8145.6,5510.3,NaN,NaN,5.67,6.41,6.63,1.66,7.85,9.00,NaN,NaN,12.85,-4.97
1995-06-30,NaN,NaN,5.6,152.4,8169.8,5532.1,NaN,NaN,5.47,5.93,6.17,1.74,7.53,9.00,NaN,NaN,11.38,-4.43
1995-07-31,11450.310,7683.125,5.7,152.6,8187.8,5551.2,189.71,NaN,5.42,6.01,6.28,1.72,7.79,8.80,NaN,NaN,13.49,-4.56
1995-08-31,NaN,NaN,5.7,152.9,8193.0,5566.7,NaN,NaN,5.40,6.24,6.49,1.73,7.88,8.75,NaN,NaN,11.52,-4.76
1995-09-30,NaN,NaN,5.6,153.1,8219.4,5588.5,NaN,NaN,5.28,6.00,6.20,1.71,7.62,8.75,NaN,NaN,12.74,-4.49
1995-10-31,11528.067,7772.586,5.5,153.5,8228.4,5609.1,191.18,NaN,5.28,5.86,6.04,1.70,7.45,8.75,NaN,NaN,13.83,-4.34
1995-11-30,NaN,NaN,5.6,153.7,8250.5,5624.0,NaN,NaN,5.36,5.69,5.93,1.81,7.35,8.75,NaN,NaN,11.58,-4.12
1995-12-31,NaN,NaN,5.6,153.9,8261.3,5642.2,NaN,NaN,5.14,5.51,5.71,1.80,7.11,8.65,NaN,NaN,12.52,-3.91