In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Merge data
merged_df = pd.merge(df1, df2, on="MSA Code", how="outer")

In [ ]:
# Save CSV
df.to_csv("MSA_Compiled_Info.csv", index=False)

# Code Work

In [3]:
df = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data\MSA_HPI (All transactions, not seasonally adjusted).csv', header=None)
df.columns = ['MSA Name', 'MSA Code', 'Year', 'Quarter', 'HPI', 'Unknown']

In [4]:
df['HPI'] = pd.to_numeric(df['HPI'], errors='coerce')
df['MSA Code'] = pd.to_numeric(df['MSA Code'], errors='coerce')

In [5]:
quarter_to_month = {1: 1, 2: 4, 3: 7, 4: 10}
df['Month'] = df['Quarter'].map(quarter_to_month)
df['Date'] = pd.to_datetime(dict(year=df['Year'], month=df['Month'], day=1))

In [6]:
df.head()

      MSA Name  MSA Code  Year  Quarter  HPI Unknown  Month       Date
0  Abilene, TX     10180  1975        1  NaN       -      1 1975-01-01
1  Abilene, TX     10180  1975        2  NaN       -      4 1975-04-01
2  Abilene, TX     10180  1975        3  NaN       -      7 1975-07-01
3  Abilene, TX     10180  1975        4  NaN       -     10 1975-10-01
4  Abilene, TX     10180  1976        1  NaN       -      1 1976-01-01