In [1]:
import numpy as np
import pandas as pd
import re

In [6]:
df = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data_Used\Training_Data.csv')

C:\Users\samvi\AppData\Local\Temp\ipykernel_15640\2712093529.py:1: DtypeWarning: Columns (16,23,30,33,36,37,38,39,40,41,42,43,44,50,53,55,58,59,60,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data_Used\Training_Data.csv')

In [2]:
MSAs = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data_Used\MSA Master Sheet.csv')

In [3]:
MSAs['MSA Name'].unique()

array(['Abilene, TX', 'Aguadilla, PR', 'Akron, OH', 'Albany, GA',
       'Albany, OR', 'Albany Schenectady Troy, NY', 'Albuquerque, NM',
       'Alexandria, LA', 'Allentown Bethlehem Easton, PA NJ',
       'Altoona, PA', 'Amarillo, TX', 'Ames, IA',
       'Amherst Town Northampton, MA', 'Anchorage, AK', 'Ann Arbor, MI',
       'Anniston Oxford, AL', 'Appleton, WI', 'Arecibo, PR',
       'Asheville, NC', 'Athens Clarke County, GA',
       'Atlanta Sandy Springs Roswell, GA', 'Atlantic City Hammonton, NJ',
       'Auburn Opelika, AL', 'Augusta Richmond County, GA SC',
       'Austin Round Rock San Marcos, TX', 'Bakersfield Delano, CA',
       'Baltimore Columbia Towson, MD', 'Bangor, ME',
       'Barnstable Town, MA', 'Baton Rouge, LA', 'Battle Creek, MI',
       'Bay City, MI', 'Beaumont Port Arthur, TX', 'Beckley, WV',
       'Bellingham, WA', 'Bend, OR', 'Billings, MT', 'Binghamton, NY',
       'Birmingham, AL', 'Bismarck, ND',
       'Blacksburg Christiansburg Radford, VA', 'Bloomington, IL',
       'Bloomington, IN', 'Boise City, ID',
       'Boston Cambridge Newton, MA NH', 'Boulder, CO',
       'Bowling Green, KY', 'Bozeman, MT',
       'Bremerton Silverdale Port Orchard, WA',
       'Bridgeport Stamford Danbury, CT', 'Brownsville Harlingen, TX',
       'Brunswick St. Simons, GA', 'Buffalo Cheektowaga, NY',
       'Burlington, NC', 'Burlington South Burlington, VT',
       'Canton Massillon, OH', 'Cape Coral Fort Myers, FL',
       'Cape Girardeau, MO IL', 'Carson City, NV', 'Casper, WY',
       'Cedar Rapids, IA', 'Chambersburg, PA', 'Champaign Urbana, IL',
       'Charleston, WV', 'Charleston North Charleston, SC',
       'Charlotte Concord Gastonia, NC SC', 'Charlottesville, VA',
       'Chattanooga, TN GA', 'Cheyenne, WY',
       'Chicago Naperville Elgin, IL IN', 'Chico, CA',
       'Cincinnati, OH KY IN', 'Clarksville, TN KY', 'Cleveland, OH',
       'Cleveland, TN', "Coeur d'Alene, ID", 'College Station Bryan, TX',
       'Colorado Springs, CO', 'Columbia, MO', 'Columbia, SC',
       'Columbus, GA AL', 'Columbus, IN', 'Columbus, OH',
       'Corpus Christi, TX', 'Corvallis, OR',
       'Crestview Fort Walton Beach Destin, FL',
       'Dallas Fort Worth Arlington, TX', 'Dalton, GA',
       'Daphne Fairhope Foley, AL', 'Davenport Moline Rock Island, IA IL',
       'Dayton Kettering Beavercreek, OH', 'Decatur, AL', 'Decatur, IL',
       'Deltona Daytona Beach Ormond Beach, FL',
       'Denver Aurora Centennial, CO', 'Des Moines West Des Moines, IA',
       'Detroit Warren Dearborn, MI', 'Dothan, AL', 'Dover, DE',
       'Dubuque, IA', 'Duluth, MN WI', 'Durham Chapel Hill, NC',
       'Eagle Pass, TX', 'Eau Claire, WI', 'El Centro, CA',
       'Elizabethtown, KY', 'Elkhart Goshen, IN', 'Elmira, NY',
       'El Paso, TX', 'Enid, OK', 'Erie, PA', 'Eugene Springfield, OR',
       'Evansville, IN', 'Fairbanks College, AK', 'Fargo, ND MN',
       'Farmington, NM', 'Fayetteville, NC',
       'Fayetteville Springdale Rogers, AR', 'Flagstaff, AZ', 'Flint, MI',
       'Florence, SC', 'Florence Muscle Shoals, AL', 'Fond du Lac, WI',
       'Fort Collins Loveland, CO', 'Fort Smith, AR OK', 'Fort Wayne, IN',
       'Fresno, CA', 'Gadsden, AL', 'Gainesville, FL', 'Gainesville, GA',
       'Gettysburg, PA', 'Glens Falls, NY', 'Goldsboro, NC',
       'Grand Forks, ND MN', 'Grand Island, NE', 'Grand Junction, CO',
       'Grand Rapids Wyoming Kentwood, MI', 'Grants Pass, OR',
       'Great Falls, MT', 'Greeley, CO', 'Green Bay, WI',
       'Greensboro High Point, NC', 'Greenville, NC',
       'Greenville Anderson Greer, SC', 'Guayama, PR',
       'Gulfport Biloxi, MS', 'Hagerstown Martinsburg, MD WV',
       'Hammond, LA', 'Hanford Corcoran, CA', 'Harrisburg Carlisle, PA',
       'Harrisonburg, VA', 'Hartford West Hartford East Hartford, CT',
       'Hattiesburg, MS', 'Helena, MT', 'Hickory Lenoir Morganton, NC',
       'Hilton Head Island Bluffton Port Royal, SC', 'Hinesville, GA',
       'Homosassa Springs, FL', 'Hot Springs, AR',
       'Houma Bayou Cane Thibodaux, LA',
       'Houston Pasadena The Woodlands, TX',
       'Huntington Ashland, WV KY OH', 'Huntsville, AL',
       'Idaho Falls, ID', 'Indianapolis Carmel Greenwood, IN',
       'Iowa City, IA', 'Ithaca, NY', 'Jackson, MI', 'Jackson, MS',
       'Jackson, TN', 'Jacksonville, FL', 'Jacksonville, NC',
       'Janesville Beloit, WI', 'Jefferson City, MO', 'Johnson City, TN',
       'Johnstown, PA', 'Jonesboro, AR', 'Joplin, MO KS',
       'Kahului Wailuku, HI', 'Kalamazoo Portage, MI', 'Kankakee, IL',
       'Kansas City, MO KS', 'Kennewick Richland, WA', 'Kenosha, WI',
       'Killeen Temple, TX', 'Kingsport Bristol, TN VA', 'Kingston, NY',
       'Kiryas Joel Poughkeepsie Newburgh, NY', 'Knoxville, TN',
       'Kokomo, IN', 'La Crosse Onalaska, WI MN', 'Lafayette, LA',
       'Lafayette West Lafayette, IN', 'Lake Charles, LA',
       'Lake Havasu City Kingman, AZ', 'Lakeland Winter Haven, FL',
       'Lancaster, PA', 'Lansing East Lansing, MI', 'Laredo, TX',
       'Las Cruces, NM', 'Las Vegas Henderson North Las Vegas, NV',
       'Lawrence, KS', 'Lawton, OK', 'Lebanon, PA', 'Lewiston, ID WA',
       'Lewiston Auburn, ME', 'Lexington Fayette, KY',
       'Lexington Park, MD', 'Lima, OH', 'Lincoln, NE',
       'Little Rock North Little Rock Conway, AR', 'Logan, UT ID',
       'Longview, TX', 'Longview Kelso, WA',
       'Los Angeles Long Beach Anaheim, CA',
       'Louisville/Jefferson County, KY IN', 'Lubbock, TX',
       'Lynchburg, VA', 'Macon Bibb County, GA', 'Madison, WI',
       'Manchester Nashua, NH', 'Manhattan, KS', 'Mankato, MN',
       'Mansfield, OH', 'Mayag체ez, PR', 'McAllen Edinburg Mission, TX',
       'Medford, OR', 'Memphis, TN MS AR', 'Merced, CA',
       'Miami Fort Lauderdale West Palm Beach, FL',
       'Michigan City La Porte, IN', 'Midland, MI', 'Midland, TX',
       'Milwaukee Waukesha, WI',
       'Minneapolis St. Paul Bloomington, MN WI', 'Minot, ND',
       'Missoula, MT', 'Mobile, AL', 'Modesto, CA', 'Monroe, LA',
       'Monroe, MI', 'Montgomery, AL', 'Morgantown, WV', 'Morristown, TN',
       'Mount Vernon Anacortes, WA', 'Muncie, IN',
       'Muskegon Norton Shores, MI',
       'Myrtle Beach Conway North Myrtle Beach, SC', 'Napa, CA',
       'Naples Marco Island, FL',
       'Nashville Davidson  Murfreesboro  Franklin, TN', 'New Haven, CT',
       'New Orleans Metairie, LA', 'New York Newark Jersey City, NY NJ',
       'Niles, MI', 'North Port Bradenton Sarasota, FL',
       'Norwich New London Willimantic, CT', 'Ocala, FL', 'Odessa, TX',
       'Ogden, UT', 'Oklahoma City, OK', 'Olympia Lacey Tumwater, WA',
       'Omaha, NE IA', 'Orlando Kissimmee Sanford, FL',
       'Oshkosh Neenah, WI', 'Owensboro, KY',
       'Oxnard Thousand Oaks Ventura, CA', 'Paducah, KY IL',
       'Palm Bay Melbourne Titusville, FL',
       'Panama City Panama City Beach, FL', 'Parkersburg Vienna, WV',
       'Pensacola Ferry Pass Brent, FL', 'Peoria, IL',
       'Philadelphia Camden Wilmington, PA NJ DE MD',
       'Phoenix Mesa Chandler, AZ', 'Pinehurst Southern Pines, NC',
       'Pittsburgh, PA', 'Pittsfield, MA', 'Pocatello, ID', 'Ponce, PR',
       'Portland South Portland, ME',
       'Portland Vancouver Hillsboro, OR WA', 'Port St. Lucie, FL',
       'Prescott Valley Prescott, AZ', 'Providence Warwick, RI MA',
       'Provo Orem Lehi, UT', 'Pueblo, CO', 'Punta Gorda, FL',
       'Racine Mount Pleasant, WI', 'Raleigh Cary, NC', 'Rapid City, SD',
       'Reading, PA', 'Redding, CA', 'Reno, NV', 'Richmond, VA',
       'Riverside San Bernardino Ontario, CA', 'Roanoke, VA',
       'Rochester, MN', 'Rochester, NY', 'Rockford, IL',
       'Rocky Mount, NC', 'Rome, GA', 'Sacramento Roseville Folsom, CA',
       'Saginaw, MI', 'St. Cloud, MN', 'St. George, UT',
       'St. Joseph, MO KS', 'St. Louis, MO IL', 'Salem, OR',
       'Salinas, CA', 'Salisbury, MD', 'Salt Lake City Murray, UT',
       'San Angelo, TX', 'San Antonio New Braunfels, TX',
       'San Diego Chula Vista Carlsbad, CA', 'Sandusky, OH',
       'San Francisco Oakland Fremont, CA',
       'San Jose Sunnyvale Santa Clara, CA',
       'San Juan Bayam처n Caguas, PR', 'San Luis Obispo Paso Robles, CA',
       'Santa Cruz Watsonville, CA', 'Santa Fe, NM',
       'Santa Maria Santa Barbara, CA', 'Santa Rosa Petaluma, CA',
       'Savannah, GA', 'Scranton  Wilkes Barre, PA',
       'Seattle Tacoma Bellevue, WA',
       'Sebastian Vero Beach West Vero Corridor, FL', 'Sebring, FL',
       'Sheboygan, WI', 'Sherman Denison, TX',
       'Shreveport Bossier City, LA', 'Sierra Vista Douglas, AZ',
       'Sioux City, IA NE SD', 'Sioux Falls, SD MN',
       'Slidell Mandeville Covington, LA', 'South Bend Mishawaka, IN MI',
       'Spartanburg, SC', 'Spokane Spokane Valley, WA', 'Springfield, IL',
       'Springfield, MA', 'Springfield, MO', 'Springfield, OH',
       'State College, PA', 'Staunton Stuarts Draft, VA',
       'Stockton Lodi, CA', 'Sumter, SC', 'Syracuse, NY',
       'Tallahassee, FL', 'Tampa St. Petersburg Clearwater, FL',
       'Terre Haute, IN', 'Texarkana, TX AR', 'Toledo, OH', 'Topeka, KS',
       'Traverse City, MI', 'Trenton Princeton, NJ', 'Tucson, AZ',
       'Tulsa, OK', 'Tuscaloosa, AL', 'Twin Falls, ID', 'Tyler, TX',
       'Urban Honolulu, HI', 'Utica Rome, NY', 'Valdosta, GA',
       'Vallejo, CA', 'Victoria, TX', 'Vineland, NJ',
       'Virginia Beach Chesapeake Norfolk, VA NC', 'Visalia, CA',
       'Waco, TX', 'Walla Walla, WA', 'Warner Robins, GA',
       'Washington Arlington Alexandria, DC VA MD WV',
       'Waterbury Shelton, CT', 'Waterloo Cedar Falls, IA',
       'Watertown Fort Drum, NY', 'Wausau, WI',
       'Weirton Steubenville, WV OH', 'Wenatchee East Wenatchee, WA',
       'Wheeling, WV OH', 'Wichita, KS', 'Wichita Falls, TX',
       'Wildwood The Villages, FL', 'Williamsport, PA', 'Wilmington, NC',
       'Winchester, VA WV', 'Winston Salem, NC', 'Worcester, MA',
       'Yakima, WA', 'York Hanover, PA', 'Youngstown Warren, OH',
       'Yuba City, CA', 'Yuma, AZ'], dtype=object)

In [8]:
MSAs.head(5)

,MSA Code,MSA Name,FIPS State Code,HPI Volatility,Most Recent HPI,Population,Unemployment Rate
0,10180,"Abilene, TX",48,6.376873,336.73,184278,3.5
1,10380,"Aguadilla, PR",72,6.500000,250.00,250969,7.6
2,10420,"Akron, OH",39,4.253307,257.62,702209,4.4
3,10500,"Albany, GA",13,4.271005,241.76,145451,4.2
4,10540,"Albany, OR",41,5.997320,420.17,132474,4.6

In [10]:
def clean_msa(msa):
    msa = str(msa).strip().upper()

    if "METROPOLITAN STATISTICAL AREA" not in msa:
        return msa.title()

    # Remove suffix
    msa = msa.replace(" METROPOLITAN STATISTICAL AREA", "")

    # Check for comma to separate city and state
    if ',' in msa:
        city_part, state_part = msa.rsplit(',', 1)
        # Replace hyphens in both parts with spaces
        city_clean = re.sub(r'-+', ' ', city_part.strip()).title()
        state_clean = re.sub(r'-+', ' ', state_part.strip()).upper()
        return f"{city_clean}, {state_clean}"
    else:
        # Fallback
        return re.sub(r'-+', ' ', msa).title()

In [12]:
df['MSA_clean'] = df['Metropolitan Statistical Area'].apply(clean_msa)

In [13]:
msa_corrections = {
    'Aguadilla Isabela, PR': 'Aguadilla, PR',
    'Albany Lebanon, OR': 'Albany, OR',
    'Atlanta Sandy Springs Alpharetta, GA': 'Atlanta Sandy Springs Roswell, GA', #Not perfect
    'Austin Round Rock Georgetown, TX': 'Austin Round Rock San Marcos, TX', #Not perfect
    'Bakersfield, CA': 'Bakersfield Delano, CA',
    'Birmingham Hoover, AL': 'Birmingham, AL',
    'Blacksburg Christiansburg, VA': 'Blacksburg Christiansburg Radford, VA',
    'Bloomsburg Berwick, PA': 'Scranton  Wilkes Barre, PA', #GPT beleives this is closest
    'Bridgeport Stamford Norwalk, CT': 'Bridgeport Stamford Danbury, CT', 
    'Brunswick, GA': 'Brunswick St. Simons, GA', 
    'California Lexington Park, MD': 'Lexington Park, MD', 
    'Carbondale Marion, IL': 'Cape Girardeau, MO IL', #GPT Believes this is closest
    'Chambersburg Waynesboro, PA': 'Chambersburg, PA',
    'Chicago Naperville Elgin, IL IN WI': 'Chicago Naperville Elgin, IL IN',
    'Cleveland Elyria, OH': 'Cleveland, OH',
    "Coeur D'Alene, ID": "Coeur d'Alene, ID",
    'Cumberland, MD WV': 'Hagerstown Martinsburg, MD WV', #GPT
    'Danville, IL': 'Champaign Urbana, IL', #GPT
    'Dayton Kettering, OH': 'Dayton Kettering Beavercreek, OH',
    'Denver Aurora Lakewood, CO': 'Denver Aurora Centennial, CO',
    'East Stroudsburg, PA': 'Allentown Bethlehem Easton, PA NJ', #GPT
    'Elizabethtown Fort Knox, KY': 'Elizabethtown, KY',
    'Evansville, IN KY': 'Evansville, IN',
    'Fairbanks, AK': 'Fairbanks College, AK',
    'Fond Du Lac, WI': 'Fond du Lac, WI',
    'Fort Collins, CO': 'Fort Collins Loveland, CO',
    'Grand Rapids Kentwood, MI': 'Grand Rapids Wyoming Kentwood, MI',
    'Greenville Anderson, SC': 'Greenville Anderson Greer, SC',
    'Hartford East Hartford Middletown, CT': 'Hartford West Hartford East Hartford, CT',
    'Hilton Head Island Bluffton, SC': 'Hilton Head Island Bluffton Port Royal, SC',
    'Houma Thibodaux, LA': 'Houma Bayou Cane Thibodaux, LA',
    'Houston The Woodlands Sugar Land, TX': 'Houston Pasadena The Woodlands, TX',
    'Indianapolis Carmel Anderson, IN': 'Indianapolis Carmel Greenwood, IN',
    'Joplin, MO': 'Joplin, MO KS',
    'Kahului Wailuku Lahaina, HI': 'Kahului Wailuku, HI',
    'Las Vegas Henderson Paradise, NV': 'Las Vegas Henderson North Las Vegas, NV',
    'Longview, WA': 'Longview Kelso, WA',
    'Madera, CA': 'Fresno, CA', #GPT
    'Mcallen Edinburg Mission, TX': 'McAllen Edinburg Mission, TX',
    'Miami Fort Lauderdale Pompano Beach, FL': 'Miami Fort Lauderdale West Palm Beach, FL', 
    'Multiple Properties': 'Multiple Properties', #STILL AN ISSUE
    'Muskegon, MI': 'Muskegon Norton Shores, MI',
    'Myrtle Beach Conway North Myrtle Beach, SC NC': 'Myrtle Beach Conway North Myrtle Beach, SC',
    'Nashville Davidson Murfreesboro Franklin, TN': 'Nashville Davidson  Murfreesboro  Franklin, TN',
    'New Bern, NC': 'Greenville, NC', #GPT
    'New Haven Milford, CT': 'New Haven, CT',
    'New York Newark Jersey City, NY NJ PA': 'New York Newark Jersey City, NY NJ',
    'Non Msa': 'Non Msa', #STILL AN ISSUE
    'North Port Sarasota Bradenton, FL': 'North Port Bradenton Sarasota, FL',
    'Norwich New London, CT': 'Norwich New London Willimantic, CT',
    'Ocean City, NJ': 'Atlantic City Hammonton, NJ', #GPT
    'Ogden Clearfield, UT': 'Ogden, UT',
    'Omaha Council Bluffs, NE IA': 'Omaha, NE IA',
    'Panama City, FL': 'Panama City Panama City Beach, FL',
    'Pine Bluff, AR': 'Little Rock North Little Rock Conway, AR', #GPT
    'Poughkeepsie Newburgh Middletown, NY': 'Kiryas Joel Poughkeepsie Newburgh, NY', 
    'Provo Orem, UT': 'Provo Orem Lehi, UT',
    'Racine, WI': 'Racine Mount Pleasant, WI',
    'Salisbury, MD DE': 'Salisbury, MD',
    'Salt Lake City, UT': 'Salt Lake City Murray, UT',
    'San Francisco Oakland Berkeley, CA': 'San Francisco Oakland Fremont, CA',
    'San German, PR': 'Mayag체ez, PR', #GPT
    'San Juan Bayamon Caguas, PR': 'San Juan Bayam처n Caguas, PR',
    'Scranton Wilkes Barre, PA': 'Scranton  Wilkes Barre, PA', 
    'Sebastian Vero Beach, FL': 'Sebastian Vero Beach West Vero Corridor, FL',
    'Sebring Avon Park, FL': 'Sebring, FL',
    'Sioux Falls, SD': 'Sioux Falls, SD MN',
    'Staunton, VA': 'Staunton Stuarts Draft, VA',
    'Stockton, CA': 'Stockton Lodi, CA',
    'The Villages, FL': 'Wildwood The Villages, FL',
    'Vineland Bridgeton, NJ': 'Vineland, NJ',
    'Virginia Beach Norfolk Newport News, VA NC': 'Virginia Beach Chesapeake Norfolk, VA NC',
    'Wausau Weston, WI': 'Wausau, WI',
    'Wenatchee, WA': 'Wenatchee East Wenatchee, WA',
    'Worcester, MA CT': 'Worcester, MA',
    'Youngstown Warren Boardman, OH PA': 'Youngstown Warren, OH'
}

df['MSA_clean'] = df['MSA_clean'].replace(msa_corrections)

In [14]:
# Drop NA and get unique values
set1 = set(df['MSA_clean'].dropna().unique())
set2 = set(MSAs['MSA Name'].dropna().unique())

# Exact matches
overlap = set1 & set2

# Unique elements in each
only_in_df1 = set1 - set2
only_in_df2 = set2 - set1

print(f"Total unique in df1: {len(set1)}")
print(f"Total unique in df2: {len(set2)}")
print(f"Number of exact matches: {len(overlap)}")
print(f"Number of values only in df1: {len(only_in_df1)}")
print(f"Number of values only in df2: {len(only_in_df2)}")

Total unique in df1: 380
Total unique in df2: 393
Number of exact matches: 378
Number of values only in df1: 2
Number of values only in df2: 15

In [15]:
list1 = sorted(only_in_df1)
list2 = sorted(only_in_df2)

# Pad the shorter list so lengths match
max_len = max(len(list1), len(list2))
list1 += [""] * (max_len - len(list1))
list2 += [""] * (max_len - len(list2))

mismatch_df = pd.DataFrame({
    "Only in df1": list1,
    "Only in df2": list2
})

# View or save
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 200)       # Make console wider
pd.set_option('display.max_colwidth', None)
print(mismatch_df)
# mismatch_df.to_csv("msa_mismatches.csv", index=False)

            Only in df1                       Only in df2
0   Multiple Properties      Amherst Town Northampton, MA
1               Non Msa                       Arecibo, PR
2                                             Bozeman, MT
3                                          Eagle Pass, TX
4                                             Guayama, PR
5                                              Helena, MT
6                                             Kenosha, WI
7                                               Minot, ND
8                                          Paducah, KY IL
9                            Pinehurst Southern Pines, NC
10                                              Ponce, PR
11                                           Sandusky, OH
12                       Slidell Mandeville Covington, LA
13                                      Traverse City, MI
14                                  Waterbury Shelton, CT