In [5]:
import numpy as np
import pandas as pd
import re

In [6]:
df = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data_Used\Training_Data.csv')

C:\Users\samvi\AppData\Local\Temp\ipykernel_15640\2712093529.py:1: DtypeWarning: Columns (16,23,30,33,36,37,38,39,40,41,42,43,44,50,53,55,58,59,60,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data_Used\Training_Data.csv')

In [7]:
MSAs = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data_Used\MSA Master Sheet.csv')

In [8]:
MSAs.head(5)

,MSA Code,MSA Name,FIPS State Code,HPI Volatility,Most Recent HPI,Population,Unemployment Rate
0,10180,"Abilene, TX",48,6.376873,336.73,184278,3.5
1,10380,"Aguadilla, PR",72,6.500000,250.00,250969,7.6
2,10420,"Akron, OH",39,4.253307,257.62,702209,4.4
3,10500,"Albany, GA",13,4.271005,241.76,145451,4.2
4,10540,"Albany, OR",41,5.997320,420.17,132474,4.6

In [10]:
def clean_msa(msa):
    msa = str(msa).strip().upper()

    if "METROPOLITAN STATISTICAL AREA" not in msa:
        return msa.title()

    # Remove suffix
    msa = msa.replace(" METROPOLITAN STATISTICAL AREA", "")

    # Check for comma to separate city and state
    if ',' in msa:
        city_part, state_part = msa.rsplit(',', 1)
        # Replace hyphens in both parts with spaces
        city_clean = re.sub(r'-+', ' ', city_part.strip()).title()
        state_clean = re.sub(r'-+', ' ', state_part.strip()).upper()
        return f"{city_clean}, {state_clean}"
    else:
        # Fallback
        return re.sub(r'-+', ' ', msa).title()

In [12]:
df['MSA_clean'] = df['Metropolitan Statistical Area'].apply(clean_msa)

In [13]:
msa_corrections = {
    'Aguadilla Isabela, PR': 'Aguadilla, PR',
    'Albany Lebanon, OR': 'Albany, OR',
    'Atlanta Sandy Springs Alpharetta, GA': 'Atlanta Sandy Springs Roswell, GA', #Not perfect
    'Austin Round Rock Georgetown, TX': 'Austin Round Rock San Marcos, TX', #Not perfect
    'Bakersfield, CA': 'Bakersfield Delano, CA',
    'Birmingham Hoover, AL': 'Birmingham, AL',
    'Blacksburg Christiansburg, VA': 'Blacksburg Christiansburg Radford, VA',
    'Bloomsburg Berwick, PA': 'Scranton  Wilkes Barre, PA', #GPT beleives this is closest
    'Bridgeport Stamford Norwalk, CT': 'Bridgeport Stamford Danbury, CT', 
    'Brunswick, GA': 'Brunswick St. Simons, GA', 
    'California Lexington Park, MD': 'Lexington Park, MD', 
    'Carbondale Marion, IL': 'Cape Girardeau, MO IL', #GPT Believes this is closest
    'Chambersburg Waynesboro, PA': 'Chambersburg, PA',
    'Chicago Naperville Elgin, IL IN WI': 'Chicago Naperville Elgin, IL IN',
    'Cleveland Elyria, OH': 'Cleveland, OH',
    "Coeur D'Alene, ID": "Coeur d'Alene, ID",
    'Cumberland, MD WV': 'Hagerstown Martinsburg, MD WV', #GPT
    'Danville, IL': 'Champaign Urbana, IL', #GPT
    'Dayton Kettering, OH': 'Dayton Kettering Beavercreek, OH',
    'Denver Aurora Lakewood, CO': 'Denver Aurora Centennial, CO',
    'East Stroudsburg, PA': 'Allentown Bethlehem Easton, PA NJ', #GPT
    'Elizabethtown Fort Knox, KY': 'Elizabethtown, KY',
    'Evansville, IN KY': 'Evansville, IN',
    'Fairbanks, AK': 'Fairbanks College, AK',
    'Fond Du Lac, WI': 'Fond du Lac, WI',
    'Fort Collins, CO': 'Fort Collins Loveland, CO',
    'Grand Rapids Kentwood, MI': 'Grand Rapids Wyoming Kentwood, MI',
    'Greenville Anderson, SC': 'Greenville Anderson Greer, SC',
    'Hartford East Hartford Middletown, CT': 'Hartford West Hartford East Hartford, CT',
    'Hilton Head Island Bluffton, SC': 'Hilton Head Island Bluffton Port Royal, SC',
    'Houma Thibodaux, LA': 'Houma Bayou Cane Thibodaux, LA',
    'Houston The Woodlands Sugar Land, TX': 'Houston Pasadena The Woodlands, TX',
    'Indianapolis Carmel Anderson, IN': 'Indianapolis Carmel Greenwood, IN',
    'Joplin, MO': 'Joplin, MO KS',
    'Kahului Wailuku Lahaina, HI': 'Kahului Wailuku, HI',
    'Las Vegas Henderson Paradise, NV': 'Las Vegas Henderson North Las Vegas, NV',
    'Longview, WA': 'Longview Kelso, WA',
    'Madera, CA': 'Fresno, CA', #GPT
    'Mcallen Edinburg Mission, TX': 'McAllen Edinburg Mission, TX',
    'Miami Fort Lauderdale Pompano Beach, FL': 'Miami Fort Lauderdale West Palm Beach, FL', 
    'Multiple Properties': 'Multiple Properties', #STILL AN ISSUE
    'Muskegon, MI': 'Muskegon Norton Shores, MI',
    'Myrtle Beach Conway North Myrtle Beach, SC NC': 'Myrtle Beach Conway North Myrtle Beach, SC',
    'Nashville Davidson Murfreesboro Franklin, TN': 'Nashville Davidson  Murfreesboro  Franklin, TN',
    'New Bern, NC': 'Greenville, NC', #GPT
    'New Haven Milford, CT': 'New Haven, CT',
    'New York Newark Jersey City, NY NJ PA': 'New York Newark Jersey City, NY NJ',
    'Non Msa': 'Non Msa', #STILL AN ISSUE
    'North Port Sarasota Bradenton, FL': 'North Port Bradenton Sarasota, FL',
    'Norwich New London, CT': 'Norwich New London Willimantic, CT',
    'Ocean City, NJ': 'Atlantic City Hammonton, NJ', #GPT
    'Ogden Clearfield, UT': 'Ogden, UT',
    'Omaha Council Bluffs, NE IA': 'Omaha, NE IA',
    'Panama City, FL': 'Panama City Panama City Beach, FL',
    'Pine Bluff, AR': 'Little Rock North Little Rock Conway, AR', #GPT
    'Poughkeepsie Newburgh Middletown, NY': 'Kiryas Joel Poughkeepsie Newburgh, NY', 
    'Provo Orem, UT': 'Provo Orem Lehi, UT',
    'Racine, WI': 'Racine Mount Pleasant, WI',
    'Salisbury, MD DE': 'Salisbury, MD',
    'Salt Lake City, UT': 'Salt Lake City Murray, UT',
    'San Francisco Oakland Berkeley, CA': 'San Francisco Oakland Fremont, CA',
    'San German, PR': 'Mayagüez, PR', #GPT
    'San Juan Bayamon Caguas, PR': 'San Juan Bayamón Caguas, PR',
    'Scranton Wilkes Barre, PA': 'Scranton  Wilkes Barre, PA', 
    'Sebastian Vero Beach, FL': 'Sebastian Vero Beach West Vero Corridor, FL',
    'Sebring Avon Park, FL': 'Sebring, FL',
    'Sioux Falls, SD': 'Sioux Falls, SD MN',
    'Staunton, VA': 'Staunton Stuarts Draft, VA',
    'Stockton, CA': 'Stockton Lodi, CA',
    'The Villages, FL': 'Wildwood The Villages, FL',
    'Vineland Bridgeton, NJ': 'Vineland, NJ',
    'Virginia Beach Norfolk Newport News, VA NC': 'Virginia Beach Chesapeake Norfolk, VA NC',
    'Wausau Weston, WI': 'Wausau, WI',
    'Wenatchee, WA': 'Wenatchee East Wenatchee, WA',
    'Worcester, MA CT': 'Worcester, MA',
    'Youngstown Warren Boardman, OH PA': 'Youngstown Warren, OH'
}

df['MSA_clean'] = df['MSA_clean'].replace(msa_corrections)

In [14]:
# Drop NA and get unique values
set1 = set(df['MSA_clean'].dropna().unique())
set2 = set(MSAs['MSA Name'].dropna().unique())

# Exact matches
overlap = set1 & set2

# Unique elements in each
only_in_df1 = set1 - set2
only_in_df2 = set2 - set1

print(f"Total unique in df1: {len(set1)}")
print(f"Total unique in df2: {len(set2)}")
print(f"Number of exact matches: {len(overlap)}")
print(f"Number of values only in df1: {len(only_in_df1)}")
print(f"Number of values only in df2: {len(only_in_df2)}")

Total unique in df1: 380
Total unique in df2: 393
Number of exact matches: 378
Number of values only in df1: 2
Number of values only in df2: 15

In [15]:
list1 = sorted(only_in_df1)
list2 = sorted(only_in_df2)

# Pad the shorter list so lengths match
max_len = max(len(list1), len(list2))
list1 += [""] * (max_len - len(list1))
list2 += [""] * (max_len - len(list2))

mismatch_df = pd.DataFrame({
    "Only in df1": list1,
    "Only in df2": list2
})

# View or save
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 200)       # Make console wider
pd.set_option('display.max_colwidth', None)
print(mismatch_df)
# mismatch_df.to_csv("msa_mismatches.csv", index=False)

            Only in df1                       Only in df2
0   Multiple Properties      Amherst Town Northampton, MA
1               Non Msa                       Arecibo, PR
2                                             Bozeman, MT
3                                          Eagle Pass, TX
4                                             Guayama, PR
5                                              Helena, MT
6                                             Kenosha, WI
7                                               Minot, ND
8                                          Paducah, KY IL
9                            Pinehurst Southern Pines, NC
10                                              Ponce, PR
11                                           Sandusky, OH
12                       Slidell Mandeville Covington, LA
13                                      Traverse City, MI
14                                  Waterbury Shelton, CT