In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from sklearn.preprocessing import LabelEncoder
# from xgboost import XGBClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import classification_report
# from sklearn.metrics import confusion_matrix
# from tabulate import tabulate
# from sklearn.utils.class_weight import compute_sample_weight
# import seaborn as sns
# import joblib
# import os
from pandas.tseries.offsets import DateOffset
from markov_helpers import *

In [ ]:
df = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data_Used\Training_Data.csv')

C:\Users\samvi\AppData\Local\Temp\ipykernel_37204\2474469227.py:3: DtypeWarning: Columns (17,24,31,34,37,38,39,40,41,42,43,44,45,51,54,56,59,60,61,66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\samvi\Documents\Coding Projects\Embedded Work\Data\Fully_Prepped_Fannie.csv')

In [5]:
pd.set_option('display.max_columns', None)
df.head()

,Loan Number,Start,Stop,Age,State,Next State,Acquisition Date,Note Date,Maturity Date at Acquisition,Loan Acquisition UPB,Amortization Type,Interest Type,Loan Product Type,Original UPB,Amortization Term,Original Interest Rate,Lien Position,Transaction ID,Issue Date,Loan Acquisition LTV,Underwritten DSCR,Underwritten DSCR Type,Original Term,Original I/O Term,I/O End Date,Loan Ever 60+ Days Delinquent,Loss Sharing Type,Modified Loss Sharing Percentage,Number of Properties at Acquisition,Property Acquisition Total Unit Count,Specific Property Type,Year Built,Property City,Property State,Property Zip Code,Metropolitan Statistical Area,Physical Occupancy %,Liquidation/Prepayment Code,Liquidation/Prepayment Date,Foreclosure Date,Credit Event Date,Foreclosure Value,Lifetime Net Credit Loss Amount,Sale Price,Default Amount,Credit Event Type,Reporting Period Date,Loan Active Property Count,Note Rate,Maturity Date - Current,UPB - Current,Delinquency UPB,Loan Payment Status,SDQ Indicator,Most Recent Modification Date,Modification Indicator,Defeasance Date,Prepayment Provision,Prepayment Provision End Date,Affordable Housing Type,MCIRT Deal ID,MCAS Deal ID,DUS Prepayment Outcomes,DUS Prepayment Segments,Loan Age,Green Bond Indicator,Social Bond Indicator,event_time,Proportion Through Loan,Amortization Type Encoded,Interest Type Encoded,State_Encoded,Next_State_Encoded,Percentage Paid,Paid per Age,LTV_over_DSCR,NoteRate_over_DSCR,Current_LTV_Approx,LTV_times_DSCR
0,1673867584,0,1,0,Current,Current,2000-01-01,1999-11-01,2009-12-01,"$14,725,385.83",Amortizing Balloon,Fixed,DUS,14736000.0,360.0,7.649,First,382113.0,2000-01-01,80.0,1.25,Lender UW DSCR,120.0,NaN,NaN,N,NaN,NaN,1.0,408.0,Multifamily,1985,ARLINGTON,TX,76017,"DALLAS-FORT WORTH-ARLINGTON, TX METROPOLITAN S...",92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-01-01,1.0,7.65,2009-12-01,14725385.83,NaN,Current,N,NaN,N,NaN,"YM(114), O*(6)",NaN,NaN,NaN,NaN,Paid Prior to Yield Maintenance End Date,Standard,64.0,N,NaN,NaN,0.016529,0,0,0,0,0.000720,0.000000,64.0,6.1192,79.942377,100.0
1,1673867584,1,2,1,Current,Current,2000-01-01,1999-11-01,2009-12-01,"$14,725,385.83",Amortizing Balloon,Fixed,DUS,14736000.0,360.0,7.649,First,382113.0,2000-01-01,80.0,1.25,Lender UW DSCR,120.0,NaN,NaN,N,NaN,NaN,1.0,408.0,Multifamily,1985,ARLINGTON,TX,76017,"DALLAS-FORT WORTH-ARLINGTON, TX METROPOLITAN S...",92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-02-01,1.0,7.65,2009-12-01,14714704.00,NaN,Current,N,NaN,N,NaN,"YM(114), O*(6)",NaN,NaN,NaN,NaN,Paid Prior to Yield Maintenance End Date,Standard,64.0,N,NaN,NaN,0.024793,0,0,0,0,0.001445,0.001445,64.0,6.1192,79.884387,100.0
2,1673867584,2,3,2,Current,Current,2000-01-01,1999-11-01,2009-12-01,"$14,725,385.83",Amortizing Balloon,Fixed,DUS,14736000.0,360.0,7.649,First,382113.0,2000-01-01,80.0,1.25,Lender UW DSCR,120.0,NaN,NaN,N,NaN,NaN,1.0,408.0,Multifamily,1985,ARLINGTON,TX,76017,"DALLAS-FORT WORTH-ARLINGTON, TX METROPOLITAN S...",92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-03-01,1.0,7.65,2009-12-01,14703954.09,NaN,Current,N,NaN,N,NaN,"YM(114), O*(6)",NaN,NaN,NaN,NaN,Paid Prior to Yield Maintenance End Date,Standard,64.0,N,NaN,NaN,0.033058,0,0,0,0,0.002175,0.001087,64.0,6.1192,79.826027,100.0
3,1673867584,3,4,3,Current,Current,2000-01-01,1999-11-01,2009-12-01,"$14,725,385.83",Amortizing Balloon,Fixed,DUS,14736000.0,360.0,7.649,First,382113.0,2000-01-01,80.0,1.25,Lender UW DSCR,120.0,NaN,NaN,N,NaN,NaN,1.0,408.0,Multifamily,1985,ARLINGTON,TX,76017,"DALLAS-FORT WORTH-ARLINGTON, TX METROPOLITAN S...",92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-04-01,1.0,7.65,2009-12-01,14693135.65,NaN,Current,N,NaN,N,NaN,"YM(114), O*(6)",NaN,NaN,NaN,NaN,Paid Prior to Yield Maintenance End Date,Standard,64.0,N,NaN,NaN,0.041322,0,0,0,0,0.002909,0.000970,64.0,6.1192,79.767295,100.0
4,1673867584,4,5,4,Current,Current,2000-01-01,1999-11-01,2009-12-01,"$14,725,385.83",Amortizing Balloon,Fixed,DUS,14736000.0,360.0,7.649,First,382113.0,2000-01-01,80.0,1.25,Lender UW DSCR,120.0,NaN,NaN,N,NaN,NaN,1.0,408.0,Multifamily,1985,ARLINGTON,TX,76017,"DALLAS-FORT WORTH-ARLINGTON, TX METROPOLITAN S...",92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-01,1.0,7.65,2009-12-01,14682248.26,NaN,Current,N,NaN,N,NaN,"YM(114), O*(6)",NaN,NaN,NaN,NaN,Paid Prior to Yield Maintenance End Date,Standard,64.0,N,NaN,NaN,0.049587,0,0,0,0,0.003648,0.000912,64.0,6.1192,79.708188,100.0

## Need to encode state and next state, and also amortization type, interest type